
/*------------------slider-------------------*/
.slidecontainer {
  width: 50%;
  padding: 6px;
}

.slider, .slider2, .slider3 {
  -webkit-appearance: none;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background-color: #9ccbc0;
}

.slider:hover {
  opacity: 1;
}

.range{
	padding-left: 30px;
}
/*-------- top nav--------------*/
.home {
	background-color: black;

	top: 0;
	left: 0;
	width: 100%;
	padding: 28px 0;
}

.covid {
	display: inline-block;
	
	height: 60px;
	margin: 10px 0 0 0;
	 padding: 0;
	 padding-left: 30px;
	 letter-spacing: 6px;
	 font-family: Arial, Helvetica, sans-serif;
	  color: whitesmoke;
	  size: 60px;
	 
}

.header {
 padding: 20px;
 margin: 10px;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

/*------------------main---------------*/
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
